@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Meiryo", sans-serif;
}

.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.h2sub {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.h2sub::before {
  content: "";
  width: 5rem;
  height: 1px;
  background: #000;
  margin-right: 1rem;
}

.fadeUp {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 0.5s;
}

.fadeUp-show {
  opacity: 1;
  transform: translate(0, 0);
}

.flipLeftTop {
  opacity: 0;
  transform: translate(-40px, 100px) rotate(-15deg);
  transition: all 0.5s;
}

.flipLeftTop-show {
  opacity: 1;
  transform: translate(0, 0) rotate(0deg);
}

/* header */
header {
  background-color: #ccc;
  background: url(../images/header.jpg) left center / cover;
  padding-bottom: calc(600 / 1920 * 100%);
}

header .inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
}

header h1 {
  display: none;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1rem 2rem;
}

header ul {
  display: flex;
  margin: 0 3rem;
}

header li {
  padding: 0 1rem;
}

header ul a {
  color: #fff;
  font-size: 1.5rem;
}

header ul a:hover {
  color: #ddd;
  border-bottom: #ddd 1px solid;
}

.openbtn {
  display: none;
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 9999;
}

.openbtn span {
  position: absolute;
  left: 1rem;
  display: inline-block;
  width: 45%;
  height: 3px;
  background: #aaa;
  transition: all 0.4s;
}

.openbtn span:nth-of-type(1) {
  top: 1rem;
}

.openbtn span:nth-of-type(2) {
  top: 1.5rem;
}

.openbtn span:nth-of-type(3) {
  top: 2rem;
}

.openbtn.active span:nth-of-type(1) {
  transform: translateY(0.5rem) rotate(-45deg);
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  transform: translateY(-0.5rem) rotate(45deg);
}

/* works */
#works {
  background: #eee;
  padding: 3rem 0;
}

#works .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

#works a[target="_blank"]::after {
  font-family: "Font Awesome 6 Free";
  content: "\f35d"; /* Font Awesomeのアイコンコード (例: fa-external-link-alt) */
  font-weight: 700;
  margin-left: 6px;
  color: #808080; /* アイコンの色 */
}

#works .pop_up {
  width: 32%;
  background: #fff;
  padding: 0.5rem;
  border: #000 1px solid;
  z-index: 9995;
}

#works .pop_up:hover {
  opacity: 0.7;
  box-shadow: #808080 4px 4px;
  cursor: pointer;
}

#works .pop_up:nth-child(n + 4) {
  margin-top: 2%;
}

#works .pop_up img,
#works .pop_up h3 {
  color: #000;
  text-align: center;
  margin: 0 auto;
}

#works .pop_up img {
  margin-bottom: 1rem;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9997;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.modal-close {
  display: inline;
  color: #808080;
  font-size: 3rem;
  cursor: pointer;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 80%;
  height: 80vh;
  transform: translate(-50%, -50%);
  padding: 0 2rem;
  overflow: scroll;
  z-index: 9999;
}

.modal-content a {
  color: #000;
  border-bottom: #000 1px solid;
}

.modal-content a:hover {
  color: #808080;
  border-bottom: #808080 1px solid;
}

.modal-content th {
  text-align: end;
  vertical-align: top;
  width: 8rem;
}

.modal-content th,
.modal-content td {
  padding-bottom: 2rem;
}

.modal-btn {
  width: 80%;
  background: #808080;
  margin: 2rem auto;
}

.modal-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.modal-btn p {
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}

/* about */
#about {
  background: #eee;
  padding: 3rem 0;
}

#about h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.profile,
.skills {
  padding-left: 2rem;
}

/* profile */
.profile .box {
  display: flex;
  margin-bottom: 3rem;
}

.faceimg {
  width: 10rem;
  height: 100%;
  margin-right: 2rem;
}

.profile2 p {
  margin-bottom: 1rem;
}

/* skills */
.skill_box {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.skill_box .box {
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill_box .box:nth-child(n + 4) {
  margin-top: 3rem;
}

i {
  font-size: 3rem;
}

.skill_box .box img {
  width: 3rem;
}

.skill_box .box p {
  padding-left: 1rem;
}

.skill_name {
  font-weight: bold;
  margin-bottom: 1rem;
}

/* footer */
footer {
  background: #000;
  padding: 3rem 0;
}

footer p {
  color: #fff;
  text-align: center;
}
