@use "../settings/mixin" as r;
@use "../settings/variable" as v;
@use "../settings/_path" as p;

// @use '../../../node_modules/sanitize.css/sanitize.css';
// @use '../../../node_modules/sanitize.css/forms.css';

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style-type: none;
}

th {
  font-weight: inherit;
}

address {
  font-style: inherit;
}

fieldset {
  min-width: 0;
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;

  @include r.hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "alpha(opacity=80)";
  }
}

img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

button,
input,
select,
textarea {
  padding: 0;
  border: 0;
}

button:not(:disabled):not([aria-disabled="true"]) {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  // font-family: "Noto Sans JP", sans-serif;
  font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Meiryo", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

// Safari用のハックは、Chromeに適用されないようにする
@supports (-webkit-touch-callout: none) {
  body {
    // Safari用のハック
    height: -webkit-fill-available;
  }
}

[v-cloak] {
  visibility: hidden;
}

.l-wrapper {
  position: relative;
  overflow: hidden;
}

.pc {
  @include r.mq(mdless) {
    display: none !important;
  }
}

.sp {
  @include r.mq(mdover) {
    display: none !important;
  }
}
