@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}

body{ 
  font-family: "Helvetica Neue",
    "Arial",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
}

.flex{
  display: flex;
}

.inner{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

h2{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h2::before,
h2::after{
  content: "";
  width: 100px;
  height: 2px;
  background: #fff;
  margin: 0 1rem;
}

.h2sub{
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
}

h3{
  font-size: 1.5rem;
}

.fadeUp{
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 0.5s;
}

.fadeUp-show{
  opacity: 1;
  transform: translate(0, 0);
}

/* header */
header{
  background: #fff;
  padding: 0.5rem 1rem;
}

header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 0;
}

.logo{
  display: block;
  width: 40%;
}

header nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header li{
  padding: 0 1rem;
  border-left: 1px #808080 solid;
}

header li:last-child{
  margin-right: 2rem;
  border-right: 1px #808080 solid;
}

header nav a{
  color: #808080;
  transition: color .3s ease;
}

header nav a:hover{
  color: #ccc;
}

header button{
  display: none;
  background: #00ff00;
  margin-right: 1rem;
}

header button a{
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.5rem 1rem;
}

header button:hover{
  background: #009900;
}

.phone p{
  display: flex;
  flex-direction: column;
  color: #ffa500;
  font-size: 1.5rem;
}

.phone span{
  font-size: 1.5rem;
}

/* SPメニュー隠し */
.sp{
  display: none;
}

/* title */
.title{
  background: #fff;
}

.title .inner{
  position: relative;
}

.title_box{
  position: absolute;
  top: 30%;
  right: 15%;
  margin-top: 2rem;
}

.title h1{
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 0 #000;
}

.title .sub{
  color: #ffa500;
  text-shadow: 1px 1px 0 #808080;
  margin: 1rem 0;
}

.title button{
  background: #00ff00;
  box-shadow: 4px 4px 0 #008000;
}

.title button a{
  display: block;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 2rem;
}

.title button:hover{
  background: #009900;
}

.intro{
  width: 75%;
  margin: 5rem auto;
}

.intro p{
  padding: 0.5rem;
}

/* feature */
#feature{
  background: #ffa500;
  padding: 7rem 0;
}

#feature .box{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

#feature .text_box{
  position: relative;
  background: #fff;
  width: 32%;
  padding: 3rem 1rem 1rem;
}

.point{
  position: absolute;
  top: 0;
  left: 10%;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #ffa500;
  text-align: center;
  border-radius: 50%;
  padding: 1rem;
}

.point span{
  font-size: 1.5rem;
}

#feature h3{
  display: inline-block;
  border-bottom: #ffa500 2px solid;
  margin:0 auto 0.5rem;
}

/* course */
#course{
  background: #00ff00;
  padding: 7rem 0;
}

#course p{
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
}

#course .box{
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 3rem;
}

#course .box:nth-child(even){
  flex-direction: row-reverse;
}

#course .box:last-child{
  margin: 0;
}

#course .img_box{
  width: 49%;
}

#course .text_box{
  width: 49%;
}

.primary{
  border-left: #000 5px solid;
  padding-left: 0.5rem;
}

.basic{
  color: #ffa500;
  border-left: #ffa500 5px solid;
  padding-left: 0.5rem;
}

.advance{
  color: #00ff00;
  border-left: #00ff00 5px solid;
  padding-left: 0.5rem;
}

#course .text_box p{
  color: #000;
  text-align: left;
  padding-left: 1.5rem;
}

#course .text_box p:last-child{
  margin-bottom: 0;
}

/* yohaku */
#yohaku{
  background: #fff;
  text-align: center;
  padding: 7rem 0;
}

#yohaku button{
  background: #00ff00;
  box-shadow: 4px 4px 0 #008000;
}

#yohaku button a{
  display: block;
  color: #fff;
  padding: 1rem 3rem;
}

#yohaku button:hover{
  background: #009900;
}

/* voice */
#voice{
  background: #ccc;
  padding: 7rem 0;
}

.voice_btn{
  display: flex;
}

.child_btn{
  width: 50%;
  background: #fff;
  color: #ffa500;
  border: #ffa500 2px solid;
  padding: 0.5rem 0;
}

.child_btn:hover{
  background: #ffa500;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}

.child_btn.active{
  background: #ffa500;
  color: #fff;
}

.child_btn.active:hover{
  opacity: 1.0;
}

.parent_btn{
  width: 50%;
  background: #fff;
  color: #00ff00;
  border: #00ff00 2px solid;
}

.parent_btn:hover{
  background: #00ff00;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}

.parent_btn.active{
  background: #00ff00;
  color: #fff;
}

.parent_btn.active:hover{
  opacity: 1.0;
}

.child{
  background: #ffa500;
  width: 100%;
  padding: 3rem 2rem;
  display: none;
}

.child.active{
  display: block;
}

.parent{
  background: #00ff00;
  width: 100%;
  padding: 3rem 2rem;
  display: none;
}

.parent.active{
  display: block;
}

.voice_box{
  position: relative;
  justify-content: center;
  width: 90%;
  background: #fff;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin: 0 auto 3rem;
}

.voice_box:last-child{
  margin-bottom: 0;
}

.child_voice{
  position: absolute;
  top: -25px;
  left: -25px;
  width: 50px;
}

.parent_voice{
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
}

.voice_box span{
  display: block;
  text-align: right;
}

/* access */
#access{
  background: #fff;
  padding: 7rem 0;
}

#access h2,
#access .h2sub{
  color: #ffa500;
}

#access h2::before,
#access h2::after{
  background: #ffa500;
}

#access .flex{
  justify-content: space-between;
}

#access table{
  width: 49%;
}

#access table th{
  color: #ffa500;
  text-align: start;
  font-weight: bold;
  width: 15%;
}

.line{
  width: 35%;
  text-align: end;
}

.station{
  width: 25%;
  text-align: end;
}

#access .map{
  width: 49%;
}

/* form */
#form{
  background: #ccc;
  padding: 7rem 0;
}

#form h2{
  margin-bottom: 2rem;
}

.form_box{
  width: 50%;
  margin: 0 auto;
}

label{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.form_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

.required{
  background: #ffa500;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
textarea{
  padding: 0 0.5rem;
  border-radius: 0.25rem;
}

#form button{
  display: block;
  background: #ffa500;
  border-radius: 0.25rem;
  margin: 3rem auto 0;
}

#form button a{
  display: block;
  color: #fff;
  padding: 1rem 5rem;
}

#form button:hover{
  background: #dd9000;
  cursor: pointer;
}

/* footer */
footer{
  background-color: #333;
}

footer ul{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

footer ul a{
  color: #fff;
  margin-right: 1rem;
}

footer ul a:hover{
  color: #808080;
}

footer p{
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 5rem;
}

.reserve_fadein{
  position: fixed;
  bottom: 150px;
  right: 0px;
  width: 24px;
  background: #00ff00;
  writing-mode: vertical-rl;
  padding: 0.5rem 0;
}

.reserve_fadein:hover{
  background: #009900;
}

.reserve_fadein a{
  color: #fff;
  text-align: center;
}

#pagetop{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
}