@use "../../settings/_variable" as v;
@use "../../settings/_mixin" as r;
@use "../../settings/_path" as p;

.p-top {
  .l-wrapper {
    &.is-loading {
      opacity: 0;
      transform: translateY(40px);
    }
  }
  .inner {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  /* header */
  &__header {
    background-color: #ccc;
    background: url(/wp-content/themes/wp/assets/images/top/header.jpg) left
      center / cover;
    padding-bottom: calc(700 / 1920 * 100vw);

    &__container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 2em 2rem 0;
      @include r.pad {
        padding: 1.5em 2rem 0;
      }
      h1 {
        display: none;
      }
    }
    &__nav {
      &__list {
        display: flex;
        margin: 0 3rem;
        @include r.sp {
          display: block;
        }
      }
      &__link {
        margin: 0 1rem;
        a {
          color: #fff;
          font-size: 1.5em;
          &:hover {
            color: #ddd;
            border-bottom: #ddd 1px solid;
            @include r.sp {
              color: #ccc;
            }
          }
          @include r.pad {
            font-size: 1.25em;
          }
          @include r.sp {
            color: #000;
            font-size: 1em;
          }
        }
        @include r.sp {
          text-align: center;
          margin: 0 0 3rem;
        }
      }
    }

    //spMenu
    .c-spMenu {
      display: none;
      position: fixed;
      top: 1em;
      right: 1em;
      width: 22px;
      height: 18px;
      cursor: pointer;
      z-index: 9999;
      @include r.sp {
        display: block;
      }
      span {
        position: absolute;
        right: 0;
        display: inline-block;
        width: 100%;
        height: 3px;
        background: #aaa;
        transition: all 0.4s;
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }
      &.is-active span {
        &:nth-of-type(1) {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
      &__nav {
        @include r.sp {
          position: fixed;
          top: 0;
          right: 0;
          width: 40vw;
          height: 100vh;
          transform: translateX(40vw);
          transition: all 0.4s;
          padding: 60px 0;
          background: white;
          z-index: 9999;
        }
        &.is-active {
          @include r.sp {
            transform: translateX(0);
          }
        }
      }
    }
  }

  &__ttl {
    font-size: 2em;
    font-weight: bold;
    &__sub {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      &::before {
        content: "";
        width: 5rem;
        height: 1px;
        background: #000;
        margin-right: 1rem;
      }
    }
  }

  /* works */
  &1 {
    background: #eee;
    padding: 3rem 0;

    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 2%;
    }

    &__box {
      width: 32%;
      background: #fff;
      padding: 0.8rem;
      border: #000 1px solid;
      z-index: 9995;
      &:hover {
        opacity: 0.7;
        box-shadow: #808080 4px 4px;
        cursor: pointer;
      }
      &:nth-child(n + 4) {
        margin-top: 2%;
      }
      @include r.pad {
        width: 49%;
        &:nth-child(n + 3) {
          margin-top: 2%;
        }
      }
      @include r.sp {
        width: 100%;
        &:nth-child(n + 2) {
          margin-top: 2rem;
        }
      }

      &__img {
        margin-bottom: 0.8rem;
      }
      &__ttl {
        color: #000;
        text-align: center;
        margin: 0 auto;
      }
    }

    &__modal {
      &__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9997;
      }
      &__bg {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9998;
      }
      &__close {
        display: inline;
        color: #808080;
        font-size: 3em;
        cursor: pointer;
      }
      &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        background: #fff;
        width: 80%;
        height: 80vh;
        transform: translate(-50%, -50%);
        padding: 0 2rem;
        overflow: scroll;
        z-index: 9999;
        @include r.sp {
          width: 90%;
          height: 90vh;
          padding: 0 1.5rem;
        }
      }
      tr {
        @include r.sp {
          display: flex;
          flex-direction: column;
        }
      }
      &__ttl {
        text-align: end;
        vertical-align: top;
        width: 8em;
        padding-bottom: 2rem;
        @include r.sp {
          text-align: start;
          padding-bottom: 0.5rem;
        }
      }
      &__txt {
        color: #000;
        padding-bottom: 2rem;
        @include r.sp {
          padding-left: 1em;
        }
      }
      &__link {
        border-bottom: #000 1px solid;
        &:hover {
          color: #808080;
          border-bottom: #808080 1px solid;
        }
        &[target="_blank"]::after {
          font-family: "Font Awesome 6 Free";
          content: "\f35d"; /* Font Awesomeのアイコンコード (例: fa-external-link-alt) */
          font-weight: 700;
          margin-left: 6px;
          color: #808080; /* アイコンの色 */
        }
      }
      &__btn {
        width: 80%;
        background: #808080;
        margin: 2em auto;
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
        p {
          color: #fff;
          text-align: center;
          padding: 0.5em;
        }
      }
    }
  }

  /* about */
  &2 {
    background: #eee;
    padding: 3rem 0;
    &__content {
      padding-left: 2rem;
      &__ttl {
        font-size: 1.5em;
        margin-bottom: 1rem;
      }
    }
    /* profile */
    &__profile {
      display: flex;
      margin-bottom: 3rem;
      @include r.sp {
        flex-direction: column;
      }
      &__img {
        width: 30%;
        max-width: 10em;
        height: 100%;
        margin-right: 2em;
        @include r.sp {
          width: 100%;
          margin: 0 0 1.5em;
        }
      }
      &__txt {
        margin-bottom: 1em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    /* skills */
    &__skill {
      display: flex;
      flex-wrap: wrap;
      gap: 2%;
      &__box {
        width: 32%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:nth-child(n + 4) {
          margin-top: 3rem;
        }
        @include r.pad {
          width: 49%;
          &:nth-child(n + 3) {
            margin-top: 3rem;
          }
        }
        @include r.sp {
          width: 100%;
          &:nth-child(n + 2) {
            margin-top: 2rem;
          }
        }
      }
      &__img {
        width: 3em;
        .fa-brands {
          font-size: 3em;
        }
      }
      &__content {
        width: calc(100% - 3em);
        padding-left: 1.2rem;
      }
      &__name {
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
  }

  /* footer */
  &__footer {
    background: #000;
    padding: 3rem 0;
    p {
      color: #fff;
      text-align: center;
    }
  }
}
