@charset "UTF-8";

/* main */
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
}

body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Meiryo", sans-serif;
}

.inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 5rem 0;
  overflow: hidden;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* h2部分のスタイル */
h2 {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ff6347;
  text-align: center;
  font-size: 30px;
  margin-bottom: 3rem;
}

h2 span {
  color: #ff6347;
  font-size: 18px;
  margin-top: 0.5rem;
}

h2::after {
  content: "";
  position: absolute;
  top: calc(1em + 2px);
  left: 50%;
  width: 100px;
  height: 3px;
  margin-left: -50px;
  background: #ff6347;
}

.fadeUp {
  opacity: 0;
  transform: translate(0, 75px);
  transition: all 0.5s;
}

.fadeUp-show {
  opacity: 1;
  transform: translate(0, 0);
}

.fadeRight {
  opacity: 0;
  transform: translate(100px, 0);
  transition: all 0.5s;
}

.fadeRight-show {
  opacity: 1;
  transform: translate(0, 0);
}

/* header */
header {
  background: url(../images/pc_header.jpg) top left / cover;
  background-color: #fff;
  padding-bottom: calc(780 / 1920 * 100%);
}

header .inner {
  position: relative;
  padding: 0;
}

#navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  padding: 10px 20px;
}

header ul {
  justify-content: flex-end;
  align-items: center;
}

header li {
  margin-right: 1rem;
}

header nav a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: #ff6347;
  border-bottom: #ff6347 1px solid;
}

/* SPメニュー隠し */
.sp {
  display: none;
}

.title {
  position: absolute;
  top: 200%;
  right: 5%;
  width: 20%;
  text-align: center;
}

.title img {
  width: 333px;
}

.title p {
  font-size: 30px;
  font-weight: bold;
}

.title p span {
  font-size: 20px;
  font-weight: 400;
}

/* about */
#about {
  background: #fff;
}

#about p {
  text-align: center;
  padding: 0.5rem 0 0.5rem;
}

/* menu */
#menu {
  background: lemonchiffon;
}

#menu .flex {
  justify-content: center;
  align-items: center;
}

.main_menu {
  width: 30%;
}

.explain {
  display: none;
  width: 30%;
  padding-left: 1rem;
}

.explain.active {
  display: block;
}

.explain h3 {
  color: #ff6347;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.explain p {
  padding-left: 1rem;
}

.thumb_menu {
  display: flex;
  justify-content: center;
  width: calc(60% + 1rem);
  margin: 0.5rem auto 0;
  list-style-type: none;
}

.thumb_menu li:not(:last-child) {
  padding-right: 0.5rem;
}

.thumb_menu img:hover {
  opacity: 0.7;
  cursor: pointer;
}

#menu .all_menu {
  margin-top: 2rem;
  text-align: center;
}

#menu button {
  background: lemonchiffon;
  border: 1px solid #000;
}

#menu button a {
  display: block;
  color: #000;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

#menu button:hover {
  background: #000;
}

#menu button a:hover {
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* news */
#news {
  background: url(../images/coffee.jpg) no-repeat bottom right / contain;
  background-color: #fff;
  height: auto;
}

#news .text_block {
  width: 50%;
  padding-left: 10%;
}

#news h3 {
  color: #ff6347;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#news .text_block p {
  padding-left: 1rem;
}

#news .text_block article {
  margin-bottom: 0.5rem;
}

/* access */
#access {
  background: lemonchiffon;
}

#access .flex {
  justify-content: center;
}

#access table {
  background: #fff;
  width: 40%;
  margin-right: 1rem;
  padding: 0.5rem 0;
}

#access table th {
  color: #ff6347;
  text-align: start;
  font-weight: bold;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
}

#access table td {
  text-align: start;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
}

#access tr:last-child th,
#access tr:last-child td {
  padding-bottom: 0;
}

#access .map {
  margin-left: 1rem;
  width: 40%;
}

/* contact */
#contact {
  text-align: center;
  background: url(../images/court.jpg) no-repeat center center / contain;
  background-color: #fff;
  height: auto;
}

#contact .kakuu {
  color: #d81b1b;
  font-size: 0.8rem;
}

#contact button {
  -webkit-appearance: none; /*モバイル時のフォームスタイルを初期化*/
  border: 2px #097edd solid;
  background: #097edd;
  border-radius: 30px;
  margin: 1rem 0 auto;
  transition: all 0.5s ease;
}

#contact button:hover {
  background: #fff;
}

#contact button a {
  display: block;
  color: #fff;
  padding: 1rem 3rem;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.5s ease;
}

#contact button a:hover {
  color: #097edd;
  cursor: pointer;
}

/* footer */
footer {
  border-top: 4px solid #ff6347;
  background: #000;
}

footer .flex {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

footer li {
  margin: 0 1rem;
}

footer li a {
  text-decoration: none;
  color: lemonchiffon;
  transition: all 0.5s ease;
  font-size: 18px;
}

footer li a:hover {
  color: #ff6347;
}

.copy {
  color: lemonchiffon;
  text-align: center;
}

#pagetop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
}

@media (max-width: 1100px) {
  .inner {
    width: 100%;
    padding: 5rem 1.5rem;
  }

  /* header */
  .title {
    top: 150%;
  }

  /* access */
  #access .flex {
    flex-wrap: wrap;
  }

  #access table {
    width: 80%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  #access .map {
    width: 65%;
    margin-left: 0;
  }
}
